<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualização de produto</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-10">
    
            <div class="form-group">
                <label for="nomeProduto">Novo nome:</label>
                <input [(ngModel)]="produto.nomeProduto" class="form-control" type="text" name="nomeProduto" id="nomeProduto" placeholder="Novo nome do produto"/>
            </div>
    
            <div class="form-group">
                <label for="caracteristica">Características</label>
                <input [(ngModel)]="produto.caracteristica" class="form-control" type="text" name="caracteristica" id="caracteristica" placeholder="Insira as características do produto"/>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição do produto</label>
                <input [(ngModel)]="produto.descricao" class="form-control" type="text" name="descricao" id="descricao" placeholder="Insira a descrição do produto"/>
            </div>
    
            <div class="form-group">
                <label for="foto">URL do produto</label>
                <input [(ngModel)]="produto.foto" class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto"/>
            </div>
    
            <div class="form-group">
                <div>
                    <label for="categoria">Selecione uma categoria</label>
                    <select class="form-control custom-select" name="categoria" id="categoria" placeholder="Selecione a categoria" [(ngModel)]='idCategoria' (change)='getCategoriaById()'>
                    <option selected>Selecione a Categoria</option>
                    <option *ngFor= "let item of listaCategoria" value="{{item.id}}">{{item.tipo}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="valor">Valor do produto</label>
                <input [(ngModel)]="produto.valor" class="form-control" type="number" name="valor" id="valor"/>
            </div>
    
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger mr-4" routerLink="/produtos">Cancelar</button>
                <button type="submit" class="btn btn-success" (click)="atualizar()">Atualizar</button>
            </div>
        </div>
    </div>
</div>