.containercomcorzinha{
    background-image:url("/assets/imgs/natureza2modificado.gif");
    background-position: center;
    background-size: cover;    
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.espacodositem{
    display: flex;
    justify-content: space-around;
}

.branco{
    background-color: white;
}

.bordaredonda{
    border-radius: 25px;
}

.verdin{
    background-color: #b9faac;
}