<body class="containercomcorzinha pt-4 pb-3">

    <!-- <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="titulo" placeholder="Digite o nome do produto que deseja pesquisar" [(ngModel)]="produto.nomeProduto" (keyup)="findByNomeProduto()"
                />
            </div>
        </div>
    </div>      -->

    <div class="container branco bordaredonda" id="categorias">
        <nav class="mt-3">
            <div class="nav nav-tabs espacodositem" id="myTab" role="tablist">
                <a class="nav-item nav-link active text-secondary font-weight-bold"    id="todosProdutos-tab" data-toggle="tab" href="#todosProdutos"role="tab"   aria-controls="todosProdutos" aria-selected="true">Todos os produtos</a>
            
                <a class="nav-link nav-item text-secondary font-weight-bold"   id="energiaSolar-tab" data-toggle="tab" href="#energiaSolar" role="tab"   aria-controls="energiaSolar" aria-selected="false">Energia Solar</a>
            
                <a class="nav-link nav-item text-secondary font-weight-bold"   id="energiaBiogas-tab" data-toggle="tab" href="#energiaBiogas" role="tab" aria-controls="energiaBiogas" aria-selected="false">Energia Biogás</a>
            
                <a class="nav-link nav-item text-secondary font-weight-bold"   id="energiaEolica-tab" data-toggle="tab" href="#energiaEolica" role="tab" aria-controls="energiaEolica" aria-selected="false">Energia Eólica</a>
            </div>
        </nav>
    
        
        <div class="tab-content mt-5" id="myTabContent">
        
            <!-- TDS OS PRODUTOS -->
            <div class="tab-pane fade show active" id="todosProdutos" role="tabpanel" aria-labelledby="todosProdutos-tab">
                <div class="card-columns">
                    <div class="card text-center" style="width: 90%;" *ngFor="let item of listaProdutos">              
                        <div class="card-body">   
                            <a href="*">
                                <img src="{{item.foto}}" class="card-img-top" alt="Imagem de produto">
                            </a>
                            <h5 class="card-title">{{item.nomeProduto}}</h5>
                            <p><small class="text-muted">Categoria: {{item.categoria.palavraChave}}</small></p>
                            <!-- <p class="card-text">{{item.descricao}}</p> -->
                            <a class="btn btn-primary" [routerLink]="['/produto-detalhes', item.id]">Saiba mais</a>
                            <div *ngIf="auth.adm()" class="ps-3 mt-2">
                                <a class="btn btn-secondary mr-2" [routerLink]="['/produto-edit', item.id]">Editar</a>
                                <a class="btn btn-danger" [routerLink]="['/produto-delete',item.id]">Apagar</a>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
            <!-- FIM DE TODOS OS PRODUTOS -->
        
            <!-- CATEGORIA DE ENERGIA SOLAR -->
            <div class="tab-pane fade" id="energiaSolar" role="tabpanel" aria-labelledby="energiaSolar-tab">
                <div class="card-columns" *ngFor="let item of listaProdutos">
                    <!-- <div *ngFor="let item of listaProdutos"> -->
                        <div class="card text-center" style="width: 18rem;" *ngIf="item.categoria.tipo == 'energiaSolar' " >
                            <div class="card-body">
                                <a href="*">
                                    <img src="{{item.foto}}" class="card-img-top" alt="Produto de energia solar">
                                </a>
                                <h5 class="card-title">{{item.nomeProduto}}</h5>
                                <!-- <p class="card-text">{{item.descricao}}</p> -->
                                <a class="btn btn-primary" [routerLink]="['/produto-detalhes', item.id]">Saiba mais</a>
                                <div *ngIf="auth.adm()" class="ps-3 mt-2">
                                    <a class="btn btn-secondary mr-2" [routerLink]="['/produto-edit', item.id]">Editar</a>
                                    <a class="btn btn-danger" [routerLink]="['/produto-delete',item.id]">Apagar</a>
                                </div>
                            </div>
                        </div> 
                    <!-- </div> -->
                </div>
            </div>
            <!-- FIM DE CATEGORIA DE ENERGIA SOLAR -->
        
            <!-- CATEGORIA DE ENERGIA BIOGÁS -->
            <div class="tab-pane fade" id="energiaBiogas" role="tabpanel"        aria-labelledby="energiaBiogas-tab">
                <div class="card-columns" *ngFor="let item of listaProdutos">
                    <!-- <div *ngFor="let item of listaProdutos"> -->
                        <div class="card text-center" style="width: 18rem;" *ngIf="item.categoria.tipo == 'energiaBiogas'">
                            <div class="card-body">
                                <a href="*">
                                    <img src="{{item.foto}}" class="card-img-top" alt="Produto de energia biogás">
                                </a>
                                <h5 class="card-title">{{item.nomeProduto}}</h5>
                                <a class="btn btn-primary" [routerLink]="['/produto-detalhes', item.id]">Saiba mais</a>
                                <div *ngIf="auth.adm()" class="ps-3 mt-2">
                                    <a class="btn btn-secondary mr-2" [routerLink]="['/produto-edit', item.id]">Editar</a>
                                    <a class="btn btn-danger" [routerLink]="['/produto-delete',item.id]">Apagar</a>
                                </div>
                            </div>
                        </div>   
                    <!-- </div> -->
                </div>
            </div>
            <!-- FIM DE CATEGORIA DE ENERGIA BIOGÁS -->

            <!-- CATEGORIA DE ENERGIA EÓLICA -->
            <div class="tab-pane fade" id="energiaEolica" role="tabpanel"        aria-labelledby="energiaEolica-tab">
                <div class="card-columns" *ngFor="let item of listaProdutos">
                    <!-- <div *ngFor="let item of listaProdutos"> -->
                        <div class="card text-center" style="width: 18rem;" *ngIf="item.categoria.tipo == 'energiaEolica'">
                            <div class="card-body">
                                <a href="*">
                                    <img src="{{item.foto}}" class="card-img-top" alt="Produto de energia eólica">
                                </a>
                                <h5 class="card-title">{{item.nomeProduto}}</h5>
                                <a class="btn btn-primary" [routerLink]="['/produto-detalhes', item.id]">Saiba mais</a>
                                <div *ngIf="auth.adm()" class="ps-3 mt-2">
                                    <a class="btn btn-secondary mr-2" [routerLink]="['/produto-edit', item.id]">Editar</a>
                                    <a class="btn btn-danger" [routerLink]="['/produto-delete',item.id]">Apagar</a>
                                </div>
                            </div>
                        </div>   
                    <!-- </div> -->
                </div>
            </div>
            <!-- FIM DE CATEGORIA DE ENERGIA EÓLICA -->
            
        </div>
    </div> 
    
</body>