<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" id="titulo" placeholder="Digite o nome do produto que deseja pesquisar" [(ngModel)]="produto.nomeProduto" (keyup)="findByNomeProduto()"
            />
        </div>
    </div>
</div>     

<body class="containercomcorzinha">
    <section class="container verdin bordaredonda" id="categorias">
        <nav>
            <div class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
    
                <a class="nav-item nav-link active text-secondary font-weight-bold" id="todosProdutos-tab" data-toggle="tab" href="#todosProdutos" role="tab" aria-controls="todosProdutos" aria-selected="true">Todos os produtos</a>
    
                <a class="nav-link nav-item text-secondary font-weight-bold" id="energiaSolar-tab" data-toggle="tab" href="#energiaSolar" role="tab" aria-controls="energiaSolar" aria-selected="false">Energia Solar</a>
    
                <a class="nav-link nav-item text-secondary font-weight-bold" id="energiaBiogas-tab" data-toggle="tab" href="#energiaBiogas" role="tab" aria-controls="energiaBiogas" aria-selected="false">Energia Biogás</a>

                <a class="nav-link nav-item text-secondary font-weight-bold" id="energiaEolica-tab" data-toggle="tab" href="#energiaEolica" role="tab" aria-controls="energiaEolica" aria-selected="false">Energia Eólica</a>
            </div>
        </nav>
        <div class="row cor-navbar">
        
            <div class="tab-content mt-5" id="myTabContent">
            
                <!-- TDS OS PRODUTOS -->
                <div class="tab-pane fade show active" id="todosProdutos" role="tabpanel" aria-labelledby="todosProdutos-tab">
                    <div class="card-columns">
                        <div class="card text-center">     
                            <div class="card" style="width: 18rem;" *ngFor="let item of        listaProdutos">
                                <a href="*">
                                <img src="{{item.foto}}" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.nomeProduto}}</h5>
                                    <p class="card-text">{{item.descricao}}</p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                                    <div *ngIf="auth.adm()" class="ps-3 mt-2">
                                        <a class="btn btn-secondary mr-2" [routerLink]="['/produto-edit', item.id]">Editar</a>
                                        <a class="btn btn-danger" [routerLink]="['/produto-delete', item.id]">Apagar</a>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- FIM DE TODOS OS PRODUTOS -->
            
                <!-- CATEGORIA DE ENERGIA SOLAR -->
                <div class="tab-pane fade" id="energiaSolar" role="tabpanel"         aria-labelledby="energiaSolar-tab">
                    <div class="card-columns">
                        <div class="card text-center" *ngFor="let item of listaProdutos">
                            <div class="card" style="width: 18rem;" *ngIf="item.categoria.descricaoCategoria == 'energiaSolar' " >
                                <a href="*">
                                <img src="{{item.foto}}" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.nomeProduto}}</h5>
                                    <p class="card-text">{{item.descricao}}</p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                            
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- FIM DE CATEGORIA DE ENERGIA SOLAR -->
            
                <!-- CATEGORIA DE ENERGIA BIOGÁS -->
                <div class="tab-pane fade" id="energiaBiogas" role="tabpanel"         aria-labelledby="energiaBiogas-tab">
                    <div class="card-columns">
                        <div class="card text-center" *ngFor="let item of listaProdutos">
                            <div class="card" style="width: 18rem;" *ngIf="item.categoria.descricaoCategoria == 'energiaBiogas'">
                                <a href="*">
                                <img src="{{item.foto}}" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.nomeProduto}}</h5>
                                    <p class="card-text">{{item.descricao}}</p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- FIM DE CATEGORIA DE ENERGIA BIOGÁS -->

                <!-- CATEGORIA DE ENERGIA EÓLICA -->
                <div class="tab-pane fade" id="energiaEolica" role="tabpanel"         aria-labelledby="energiaEolica-tab">
                    <div class="card-columns">
                        <div class="card text-center" *ngFor="let item of listaProdutos">
                            <div class="card" style="width: 18rem;" *ngIf="item.categoria.descricaoCategoria == 'energiaEolica'">
                                <a href="*">
                                <img src="{{item.foto}}" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.nomeProduto}}</h5>
                                    <p class="card-text">{{item.descricao}}</p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- FIM DE CATEGORIA DE ENERGIA EÓLICA -->
                
            </div>
        </div>
</section>
</body>