<div class="container-fluid">

    <div class="row mt-4">

        <div class="col-md-12 mb-5">

            <div class="row d-flex justify-content-center ml-5 margemcadastro">
                <div class="col-md-6">

                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <img src="https://imgur.com/IT3Eyf3.png" width="100">
                        </div>
                        <div class="col-md-10">
                            <h2 class="text-center tamanhofonte">Cadastro de um novo produto </h2>
                        </div>
                    </div>

                    <div class="form-group mt-5">
                        <label for="nomeProduto">Nome do produto</label>
                        <input class="form-control" type="text" name="nomeProduto" id="nomeProduto" placeholder="Digite o nome do produto" [(ngModel)]="produto.nomeProduto" />
                    </div>

                    <div class="form-group d-flex">
                        <div>
                            <label for="categoria">Selecione uma categoria ou</label><a href="#" data-toggle="modal" data-target="#cadastroModal"> cadastre uma nova</a>    
                            <select class="form-control custom-select" name="categoria" id="categoria" placeholder="Selecione a categoria" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                            <option selected>Selecione a Categoria</option>
                            <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.palavraChave}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group d-flex">
                        <div class="w-50 mr-5">
                            <label for="descricao">Descrição do seu Produto</label>
                            <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Digite sua descrição" [(ngModel)]="produto.descricao" />
                        </div>

                        <div class="w-50">
                            <label for="foto">Insira a URL da foto de seu produto</label>
                            <input class="form-control" type="text" name="foto" id="foto" placeholder="Digite seu número residencial" [(ngModel)]="produto.foto" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="caracteristica">Característica do produto</label>
                        <input class="form-control" type="text" name="caracteristica" id="caracteristica" placeholder="Digite a característica do produto" [(ngModel)]="produto.caracteristica"/>
                    </div>

                    <div class="form-group d-flex">
                        <div class="w-50 mr-5">
                            <label for="valor">Valor</label>
                            <input class="form-control" type="number" name="valor" id="valor" placeholder="Digite o preço do seu produto" [(ngModel)]="produto.valor"/> 
                        </div>   
                        <div class="w-50">
                            <h5 class="marginreais">R$</h5>
                        </div> 
                    </div>

                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-danger mr-4 px-3" routerLink="/inicio">Cancelar</button>
                        <button type="submit" class="btn btn-outline btn-success px-3" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- INICIO DO MODAL -->
<div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastroModalLabel">Cadastro de categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                
                    <label for="palavraChave">Insira o nome da categoria: </label>
                    <input [(ngModel)]='categoria.palavraChave' type="text" class="form-control mb-3" id="palavraChave" placeholder="Digite um nome para a categoria">
                
                    <label for="descricao">Descrição da categoria: </label>
                    <input [(ngModel)]='categoria.descricaoCategoria' type="text"      class="form-control mb-3" id="descricao" placeholder="Digite a descrição da    categoria">
                
                    <label for="tipo">Tipo da categoria: </label>
                    <input [(ngModel)]='categoria.tipo' type="text" class="form-control mb-3" id="tipo" placeholder="Digite o tipo da categoria">
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" (click)="cadastrarcategoria()" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIM DO MODAL -->