<div class="container">
<div class="row mb-5">
    <div class="col-md-12 mt-3">
        <h4 class="text-center tamanhoLetra">
            Entre em contato com a gente!
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group" onkeyup="validarEmail()">
              <label for="exampleFormControlInput1">Endereço de email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
            </div>
            <div id="txtemail"> </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Selecione o tipo de energia</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option>Solar</option>
                <option>Biogás</option>
                <option>Eólica</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Informações adicionais para o projeto.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-group d-flex justify-content-end">
                <button class="btn btn-outline-dark" >Enviar</button>
            </div>
          </form>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58514.1550019207!2d-46.69972000328373!3d-23.563605678400183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5769e50c7353%3A0x8d3c7272d800a352!2sEdif%C3%ADcio%20Faria%20Lima%20Tower!5e0!3m2!1spt-BR!2sbr!4v1632189336488!5m2!1spt-BR!2sbr" width="500" height="350" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
</div>