@import url('http://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


h4{
    font-family: 'Gagalin', sans-serif;
    padding: 10px;
}

.fa-github:hover {
    color: #a4d42b;
    }

.fa-linkedin-square:hover {
      color: #b9e44f;
        }

ul.social-network{
    list-style: none;
    padding: 10px;
}

ul.social-network li{
    display: inline;
    padding: 10px;
    
}
.fa{
    font-size: 35pt;
    padding: 10px;

    
}
.fa-github{
    color: black;
    
    
}
.fa-linkedin-square{
    color:#0072b1;
}

.bgfundo {
    background-color:#B5D676;
    border-radius: 10px;
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    padding: 10px;
}

.pessoinhas {
    padding: 30px 50px;
    font-family: "Righteous", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
