<div class="container  mt-5">
  <div class="col-md-12 d-flex justify-content-center bgfundo ">
    <h1>Equipe EcoEnergy</h1>
  </div>

  <!-- felipe -->

  <div class="row align-items-center pitch">
    <div class="col-sm">
      <ul class="social-network">
        <img src="https://i.imgur.com/1dM7oR4.jpg?1" alt="Imagem do perfil" width="50%" 
          class="img-fluid rounded-circle ">
        <h2>Felipe Costa</h2>
        <h3>Product Owner </h3>
        <li>
          <a href="https://github.com/FELIPECOXTA/" target="_blank" class="icoGithub">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>

          <a href="https://www.linkedin.com/in/felipecoxta/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <p>Homem Negro, 24 anos</p>
      <p>Nordestino e LGBTQIA+</p>
      <p>Forte capacidade de comunicação e poder de Persuasão</p>
      <p>Cada dia se reinventando e atualizando seus conhecimentos</p>
    </div>
  </div>

  <!-- /Felipe -->

  <!-- Flavia -->

  <div class="row align-items-center pitch bgfundo">
    <div class="col-sm">
      <p>27 anos</p>
      <p>Fã de Tecnologia</p>
      <p> Sou organizada </p>
      <p> Proativa e comunicativa</p>
    </div>
    <div class="col-sm">
      <ul class="social-network ">
        <img src="https://i.imgur.com/MTtieEP.jpg?3" alt="Imagem do perfil" width="50%"
          class="img-fluid rounded-circle ">
        <h2>Flavia Antunes</h2>
        <h3>Data Science</h3>
        <li>
          <a href="https://github.com/flantunes/" target="_blank" class="icoGithub">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>

          <a href="https://www.linkedin.com/in/fl%C3%A1via-antunes-8245b2179/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- /Flavia -->

  <!-- Gabirel -->

  <div class="row align-items-center pitch">
    <div class="col-sm" >
      <ul class="social-network align-items-center">
        <img src="https://i.imgur.com/Eo0tNfg.jpg?1" alt="Imagem do perfil" width="50%"
          class="img-fluid rounded-circle ">
        <h2>Gabriel Reis</h2>
        <h3>Back-End Developer
        </h3>
        <li>
          <a href="https://github.com/gabriel8514/" target="_blank" class="icoGithub">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/gabriel-luiz-reis-498a64136/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <p>24 anos</p>
      <p>Ambicioso, curioso e apaixonado por tecnologia.</p>
      <p>Repleto de sonhos e metas a serem alcançadas.</p>
      <p>Brilho no olho e vontade para fazer acontecer!</p>
    </div>
  </div>

  <!-- /Gabriel -->

  <!-- Guillie -->

  <div class="row align-items-center pitch bgfundo">
    <div class="col-sm">
      <p>27 anos</p>
      <p>Pessoa lgbtqia+ , não-binário</p>
      <p>Curioso</p>
      <p>Ama aprender</p>
    </div>
    <div class="col-sm">
      <ul class="social-network">
        <img src="https://i.imgur.com/EvaVe0D.jpg" alt="Imagem do perfil" width="50%"
          class="img-fluid rounded-circle ">
        <h2>Guilherme Ferreira (Gillie)</h2>
        <h3>Programmeer
        </h3>
        <li>
          <a href="https://github.com/miscildes/" target="_blank" class="icoGithub">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>

          <a href="https://www.linkedin.com/in/guilherme-ferreira-gillie-b9a719177/" target="_blank"
            class="icoLinkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- /Gillie -->

  <!-- João -->

  <div class="row align-items-center pitch">
    <div class="col-sm">
      <ul class="social-network">
        <img src="https://i.imgur.com/vSVP3BJ.jpg?2" alt="Imagem do perfil" width="50%"
          class="img-fluid rounded-circle ">
        <h2>João Pedro Basaglia</h2>
        <h3> Software Engineer </h3>
        <li>

          <a href="https://github.com/jotape00/" target="_blank" class="icoGithub">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-basaglia-batista-a3689b18b/" target="_blank"
            class="icoLinkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm ">
      <p>21 anos</p>
      <p>Entusiasta a esportes </p>
      <p> Apaixonado por tecnologia </p>
      <p>Dedicado em tudo que faz</p>

    </div>
  </div>

  <!-- João -->

  <!-- Joyce -->

  <div class="row align-items-center pitch bgfundo">
    <div class="col-sm">
      <p>Mulher negra, 24 anos, LGBTQIA+ </p>
      <p>Curiosa por natureza</p>
      <p>Dedicada em tudo que faço </p>
      <p>Capacidade de liderança</p>
    </div>
    <div class="col-sm" >
      <ul class="social-network">
        <img src="https://i.imgur.com/UzjHIPZ.jpg?1" alt="Imagem do perfil" width="50%"
          class="img-fluid rounded-circle">
        <h2>Joyce Oliveira</h2>
        <h3>Front End Developer
        </h3>
        <li>
          <a href="https://github.com/OliveiraJoyce" target="_blank" class="icoGithub">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/joycedasilvaoliveira/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Joyce -->