<nav class="navbar navbar-expand-lg navbar-light verdinnav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://imgur.com/IT3Eyf3.png" alt="Logo EcoEnergy" width="60" class="d-inline-block align-text-center mr-2"><span class="teste">EcoEnergy</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/inicio">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sobre-nos">Sobre nós</a>
                </li>
                <li>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Produtos</a>
                        <div class="dropdown-menu card-size" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/cadastrarprodutos">Cadastre um produto</a>
                            <a class="dropdown-item" routerLink="/produtos">Nossos produtos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contate-nos">Contate-nos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projeto-social">Projetos Sociais</a>
                </li>
            </ul>
        </div>
        <div>
            Olá, {{nome}}
        </div>
    </div>
</nav>