@import url('http://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.sobren {
    background-color: #B5D676;
    border-radius: 10px;
}

h2{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.8rem;

}
p{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

