<div class="container sobren mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>#WeTogether</h2>
            <p> Entendendo que o custo benefício de nossos produtos serem destinados à certos ninchos e nem todos terem acessibilidade, nós da EcoEnergy lançamos o projeto #WeTogether. O projeto consiste onde todas as vendas de nossos produtos, 15% dos Royalties de cada um seja destinado a este projeto para que indiretamente haja a inclusão de alguns serviços em bairros e comunidades mais carentes.
            O Projeto We Together, criado e desenvolvido em 2021 por um grupo de Desenvolvedores Java da ONG Generation Brasil foca no desenvolvimento tecnologias funcionais, de baixo custo e sustentáveis e disseminá-las pelas periferias de São Paulo. São oferecidos cursos, palestras e oficinas que ensinam a aproveitar tudo que a natureza oferece: energia solar, hortas verticais, biodigestão, água da chuva, transformando assim essas comunidades mais sustentáveis.
                
            <span class="mt-3"><br>Vem com a gente! #WeTogether
                Faça sua inscrição e venha ser um voluntário conosco!</span></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <button class="btn btn-secondary">Seja um voluntário!</button>
        </div>
    </div>
</div>