<div class="container sobren mt-5">
    <div class="row">
        <div class="w-50 sobreno">
            <h2>Sobre Nós</h2>
            <p> EcoEnergy ⚡ é um e-commerce de Consultoria Ambiental com foco na prestação de serviço <br> energia de fonte renovavel tendo 3 fontes de energia: Biogás, Eólica e Solar. <br> Nosso intuito tornar cidades e comunidades mais sustentaveis contribuindo com <br> projetos sociais e inclusão.</p>
        </div>
        <div class="w-50 sobreim">
            <img src="https://i.imgur.com/BXT6qdJ.gif" width="250px" alt="logo EcoEnergy">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="w-50 miss">
            <h3>Missão</h3>
            <p>Promover soluções inovadoras e tecnológicas <br> para transformar o mercado de energia de fontes renováveis, conectando pessoas e oportunidades, <br> sendo reconhecida pelo mercado em apoiar as cidades a serem referências sustentáveis, <br> contribuindo com projetos sociais de inclusão baseado na ODS 11</p>
        </div>
        <div class="w-50 missim">
            <img src="https://imgur.com/elMraaT.gif" width="450px" alt="imagem de missao">
        </div>
    </div>
</div>
<div class="container sobren">
    <div class="row">
        <div class="w-50 visim">
            <img src="https://imgur.com/9KiWFrk.png" width="480px" alt="imagem de visao">
        </div>
        <div class="w-50 visao">
            <h3>Visão</h3>
            <p>Ser referência nacional em inovações de energias renováveis, <br> agregando conhecimento e transformando sociedades.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="w-50 valores">
            <h3>Valores</h3>
            <p>Sustentabilidade <br> Responsabilidade Social <br> Conexões Tecnológicas</p>
        </div>
        <div class="w-50">
            <img src="https://imgur.com/Rh3z1Ku.png" width="480px" alt="imagem de valores">
        </div>
    </div>
    <div class="container sobren">
        <div class="tectitulo">
          <h3>Tecnologias Utilizadas</h3>
        </div>
        <div class="inline-block container tecnologias"> <br>
            <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
            <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
            <img  height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" />
        </div>
      </div>
</div>
<div class="projetos">
    <h3>Projetos Implantados pelo Brasil</h3>
</div>
<div class="container">
    <div class="col-sm posicaocarrossel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 tamanhoimagem" src="https://imgur.com/iCi0u9o.jpg" alt="Slide Café">
                    <div class="carousel-caption d-none d-md-block textocarro">
                        <h5 class="textotitulo">Fazenda de Biogás</h5>
                        <p class="textopara">Instalada no Mato Grosso - MT</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 tamanhoimagem" src="https://imgur.com/0FhWYf4.jpg" alt="Slide Almoço">
                    <div class="carousel-caption d-none d-md-block textocarro">
                        <h5 class="textotitulo">Campos de Hélices</h5>
                        <p class="textopara">Instaladas no Ceará - CE</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 tamanhoimagem" src="" alt="Slide   Jantar">
                    <div class="carousel-caption d-none d-md-block textocarro">
                        <h5 class="textotitulo">Placas Fotovoltaicas</h5>
                        <p class="textopara">Residenciais em São Paulo - SP</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"    data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"    data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>