@import url('http://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.sobren {
    background-color: #B5D676;
    border-radius: 10px;
}


.sobreno h2 {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
}

.sobreno p {
    font-family: "Righteous", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 40px 40px;
}

.sobreim {
    padding: 50px 90px;
}

.miss h3 {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 40px 0;
}

.miss p {
    font-family: "Righteous", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 30px 20px;
}

.missim {
    padding: 40px 20px;
}

.visin {
    padding: 40px 20px;
}

.visao h3 {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 40px 0;
}

.visao p {
    font-family: "Righteous", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 20px;
}

.valores h3 {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 40px 0;
}

.valores p {
    font-family: "Righteous", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 20px;
}

.projetos {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 30px 0;
}

.textotitulo {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 40px 0;
    text-shadow: black 0.1em 0.1em 0.2em
}

.textopara {
    font-family: "Righteous", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em
}

.tamanhoimagem {
    size: contain;
    height: 450px;
    width: 300px;
}

.tecnologias {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.tectitulo {
    font-family:'Gagalin', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
}