@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.responsivo{
    width: 100%;
    height: auto;
}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: rgb(88, 131, 77);
    padding: 10px;
}
.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-instagram:hover{
    color: #C13584;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}


@media (min-width: 1500px) {
    .container {
        width: 1500px;
    }
}



.containercomcorzinha{
    background-image:url("/assets/imgs/natureza2modificado.gif");
    background-position: center;
    background-size: cover;    
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
} 

.verdin{
    background-color: #b9faac;
}

.branco{
    background-color: white;
}

*{
    font-size: 1rem;
}

.bordaredonda{
    border-radius: 25px;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

a{
    font-family: "Poppins", sans-serif;
    color: #372a25;
    font-size: 1rem;
}
p{
    font-family: "Open Sans", sans-serif;
    color: #9d9f9e;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000002;
    font-size: 3.2rem;
}

h1 span{
    font-family: "Poppins", sans-serif;
    color: #FFD000;
    font-size: 3.2rem;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: #9d9f9e;
}

h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000002;
    font-size: 1.8rem;
}


.cor-navbar{
    background-color: white;
}

.botao-navbar{
    background-color: #90b848;
    color: white;
    font-weight:600;
    padding: 8px 18px;
    border-radius: 8px;
}

.botao-navbar:hover{
    color: white;
    background-color: #83BB1A;
    transition: 0.2s;
}

.fototexto{
    margin-top: 3rem;
}

.rowsfototexto{
    margin-bottom: 5rem;
}

.espacotexto{
    padding-top: 4rem;  
}