<body class="containercomcorzinha pb-5">

  <div class="container-fluid mb-5 pd-3 ">
    <div class="row cor-navbar px-5 py-4" style="padding-bottom: 30px;">
  
      <div class="col">
        <h1>Realize a <br> sua consultoria <br><span>conosco!</span></h1>
        <h3 class="mt-3 mb-3">Nós da EcoEnergy temos a missão de trazer uma visão consciente <br> dos gastos energéticos e queremos lhe ajudar a ter boas práticas com <br> o uso de energias sustentáveis!</h3>
        
        <a href="#" routerLink="/solicitacao-orcamento"> 
          <button type="button" class="btn botao-navbar mt-3 mb-4">Comece aqui!</button>
        </a>
      </div>
        <img src="/assets/imgs/storyset.svg" alt="Energia sustentável" width="500px">
    </div>
  </div>
  
  <section class="container branco bordaredonda py-1">
  
    <div class="text-center my-2">
      <h4 class="my-4 pt-5">PRODUTOS</h4>
      <p style="font-size: 16pt;">Nos da EcoEnergy trabalhamos com três tipos de energia: Eólica, Solar e Biogás  </p>
    </div>
  
    <div class="row d-flex justify-content-center">
      <div class="col-md-5">
        <img src="https://i.imgur.com/7cYHmIs.jpg" height="280px" class="responsivo" alt="Aparelho homebiogás">
      </div>
      <div class="col-md-5 espacotexto">
        <h2>HomeBiogas é um sistema autônomo que gera energia limpa, renovável e sustentável, sem o uso de eletricidade, que permite que você trate o seu lixo doméstico adequadamente! <br> <br> O sistema produz até 7 horas de gás de cozinha todos os dias usando apenas restos de comida e esterco animal!
        </h2>
        <a href="#" routerLink="/produtos"> 
          <button type="button" class="btn botao-navbar mt-3 mb-4">Saiba mais</button>
        </a>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-5 espacotexto ">
        <h2>A energia solar funciona a partir de placas solares que captam luz, empregando o calor dos raios solares para geração de eletricidade (em sistemas de energia solar fotovoltaica e energia heliotérmica) ou aquecimento de líquidos (energia solar térmica).</h2>
        <a href="#" routerLink="/produtos"> 
          <button type="button" class="btn botao-navbar mt-3 mb-4">Saiba mais</button>
        </a>
       </div>
       <div class="col-md-5">
        <img src="https://imgur.com/oXTMvn1.png" class="responsivo" alt="Placa de energia solar" height="280px">
      </div>
      </div>
  
    <div class="row fototexto rowsfototexto">
      <div class="col-md-5">
        <img src="https://i.imgur.com/WJ1JwoK.jpg" class="responsivo" height="300px" alt="Turbina de energia eólica">
      </div>
      <div class="col-md-5 espacotexto">
        <h2>A energia eólica é aquela obtida a partir da força do vento. Como? Por meio de um aerogerador, que transforma a energia cinética das correntes de ar em energia elétrica. <br> <br> O processo de extração é realizado principalmente graças ao rotor (que transforma a energia cinética em energia mecânica) e ao gerador (que transforma dita energia mecânica em elétrica).</h2>
        <a href="#" routerLink="/produtos"> 
          <button type="button" class="btn botao-navbar mt-3 mb-4">Saiba mais</button>
        </a>
      </div>
    </div>
  </section>
  </body>